body {
  font-family: 'Open Sans', sans-serif;
}
.navbar {
  min-height: 70px;
}
.navbar-default {
  background-color: #26528C;
}

.navbar-default .navbar-nav>li>a {
  margin-top: 10px;
  color: white;
}

navbar-default .navbar-nav>li>a:active {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover {
  color: white;
}

.navbar-brand>img {
  height: 42px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: white;
    background-color: #1a3a64;
}

.main-div {
  margin-top: 85px;
}

.div-evento{
  margin-top: 50px;
}

.btn-pedido{
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  margin-top: 3.5%;
}

.space{
  margin-left: 1% !important;
}
