<html>
  <body>
    <img style="margin: 0 auto;display: table;" src="http://www.interlegis.leg.br/produtos_servicos/comunicacao/imprensa/Interlegis_Cor01.png" />
    <div style="margin: 0 auto;display: table;">
      <h1>Interlegis - Agenda de Eventos</h1>
      <h4>O pedido <a href="">{{nr_referencia}}</a> foi alterado para status: {{status}}</h4>
      <h4>Acompanhe o seu pedido na nossa Agenda</h4>
      <a href="{{link}}">Clique no Link</a>
    </br>
    </br>
    </br>
    <p>
      Interlegis - Agenda de Eventos
    </p>
    </div>
  </body>
</html>
