<html>
  <body>
    <img style="margin: 0 auto;display: table;" src="http://www.interlegis.leg.br/produtos_servicos/comunicacao/imprensa/Interlegis_Cor01.png" />
    <div style="margin: 0 auto;display: table;">
      <h1>Interlegis - Agenda de Eventos</h1>
      <h4 align="center">O pedido <a href="">{{nr_referencia}}</a> foi alterado para status:
      {{status}} e será necessário o auxílio da equipe de Vídeo Conferência
      no(a) '{{local_evento}}'.Na data entre {{data_inicio}} ({{hora_inicio}})
      e {{data_fim}} ({{hora_fim}}).</h4>
      <h4>Acompanhe o pedido em nossa Agenda</h4>
    </br>
    </br>
    </br>
    <p>
      Interlegis - Agenda de Eventos
    </p>
    </div>
  </body>
</html>
